.root {
}

body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: auto;
  grid-template-columns: none;
  height: auto;
}

header {
  background: aqua;
  width: auto;
  height: auto;
}

footer {
  background-color: #f1f1f1;
  padding: 0px;
  text-align: center;
  width: auto;
  height: auto;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

nav{
    
}
